@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  /* font  */
  --font-display: "Plus Jakarta Sans", "sans-serif";
  --font-fontBody: "Inter", "sans-serif";
  --color-primaryColor: #3b82f6;

  --color-primary: #3b82f6;
  /* Adjustable blue */
  --color-background: #f0f9ff;
  /* Light bluish background */

  --color-brand-blue: #4361EE;
  --color-brand-accent: #06b6d4;

  /* background gradient color  */
  --gradient-primary: linear-gradient(90deg, #4361EE 0%, #06b6d4 100%);
  --gradient-text: linear-gradient(90deg, #4361EE 0%, #3a0ca3 100%);
}

@layer base {
  body {
    @apply bg-[radial-gradient(at_0%_0%,hsla(260,100%,85%,1)_0,transparent_50%),radial-gradient(at_50%_0%,hsla(180,100%,85%,1)_0,transparent_50%),radial-gradient(at_100%_0%,hsla(210,100%,85%,1)_0,transparent_50%)] bg-fixed font-fontBody min-h-screen m-0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-display);
  font-weight: 700;
}

input,
textarea,
select {
  font-family: var(--font-body);
}

@utility btn-primary {
  @apply bg-linear-90 from-brand-blue to-brand-accent text-white px-5 py-2.5 rounded-full text-sm font-bold shadow-lg hover:shadow-xl hover:opacity-90 transition-all transform hover:-translate-y-0.5 cursor-pointer;
}

@utility btn-secondary {
  @apply px-5 py-2.5 rounded-full text-sm font-bold cursor-pointer text-brand-blue bg-transparent transition-all hover:bg-brand-blue/10;
}